


.filter-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.filter-wrapper {
  width: 928px;
  height: 760px;
  top: 108px;
  left: 496px;
  border: 0.5px solid #E7E5E4; 
  background-color: #FFFFFFCC;
  opacity: 0.8;
  border-radius: 30px;
  box-shadow: 0px 0px 11.3px 0px #00000033;
  position: absolute; 
  z-index: 1;

}


.left-group, .centered-group, .right-aligned-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-group {
  margin-top: 84px;
  margin-left: 65px;
  align-items: flex-start;
  gap: 35px;
}

.centered-group {
  margin-top: 84px;
  align-items: center;
  max-width: 200px;
  gap: 110px;
}

.right-aligned-group {
  margin-top: 84px;
  margin-right: 65px;
  align-items: flex-end;
  gap: 60px;
}


.toggles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.range-slider-container {
  margin-top: 65px;
  width: 100%;
}
.custom-slider {
  padding-top: 50px;

}
button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:first-of-type {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  letter-spacing: 0.04em;
  text-align: left;
  background-color: white;
}

button:last-of-type {
  background-color: #242220;
  border-radius: 41px;
  width: 89px;
  height: 41px;
  color: rgb(120, 28, 28);
}

.button-container {
  padding-top: 100px; 
}


.set-alert {
  margin-top: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  position: relative; /* Etrafında daire şeklinde bir arka plan için gerekli */
}

.set-alert span {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: 0.04em;
  color: #242220CC;
}

.plus-icon {
  margin-left: 10px;
  width: 18px;
  height: 18px;
  color: #24222066;
  position: relative; /* Hover arka planı için */
}
.plus-icon-active {
  margin-left: 10px;
  width: 18px;
  height: 18px;
  color: #242220;
  position: relative; /* Hover arka planı için */
}

.set-alert:hover .plus-icon {
  background-color: #2422200D; /* Hoverda arka plan rengi */
  border-radius: 50%; /* Daire şeklinde arka plan */
}


.set-alert:hover .plus-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 46.55px; /* Dairenin boyutu */
  height: 46.55px; /* Dairenin boyutu */
  background-color: #2422200D; /* Dairenin rengi */
  border-radius: 50%; /* Daire şeklinde */
  transform: translate(-50%, -50%); /* Daireyi merkezlemek için */
  z-index: -1; /* İkonun arkasında olması için */
}





