.Container{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 32px;
}

.Element{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #E7E5E4;
    border-radius: 15px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #999999;
    margin-right: 19px;
}

.Element:hover {
    background-color: #f0f0f0;
}

.Element.active {
    background-color: #0070f3; /* Örneğin mavi bir arka plan */
    color: white;
}