.CategoriesWrapper {
    position: relative; /* sticky yerine relative yapıyoruz */
    background-color: #fff;
    z-index: 10;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.Container {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
    gap: 32px;
    transition: transform 0.3s ease;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.Container::-webkit-scrollbar {
    display: none;
}

.Container.shifted {
    transform: translateX(-100px); /* Adjust this value based on your needs */
}

.Element {
    padding-bottom: 12px;
    padding-left: 2px;
    padding-right: 0px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #242220;
    cursor: pointer; /* Değişiklik burada: normal durumda pointer */
    position: relative;
    transition: color 0.3s ease, cursor 0.3s ease;
    user-select: none; /* Prevent text selection during drag */
    
    flex-shrink: 0;
}

.Element:active {
    cursor: grabbing; /* Aktif durumda (basılı tutulduğunda) cursor'ı grabbing yap */
}

.Element:hover {
    cursor: pointer; /* Hover durumunda pointer olarak kalsın */
}

.Element.active {
    color: #999999;
}

.Element::after {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 2px;
    width: 0;
    height: 2px;
    background-color: #999999;
    transition: width 0.3s ease;
}

.Element:hover::after,
.Element.active::after {
    width: calc(100% - 2px);
}

.Element.disabled {
    color: #CCCCCC;
}

.Element.disabled:hover {
    color: #CCCCCC;
}

.Element.disabled::after {
    display: none;
}

.ShiftArrow {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.767);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0.9;
    z-index: 10; /* Ensure arrows are above the content */
}

.ShiftArrow:hover {
    opacity: 1;
}

.ShiftArrow {
    right: 0px; /* Adjust the right arrow position */
}

.ShiftArrowLeft {
    left: 0px; /* Adjust the left arrow position */
}

@media (max-width: 768px) {
    .Container {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: auto;
    }

    .Element {
        flex: 0 0 auto;
    }
}