.CategoriesWrapper {
    position: relative;
    overflow: hidden;
}

.Container {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
    margin-bottom: 24px;
    gap: 22px;
    transition: transform 0.3s ease;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.Container::-webkit-scrollbar {
    display: none;
}

.Container.shifted {
    transform: translateX(-100px); /* Adjust this value based on your needs */
}

.Element {
    padding-bottom: 12px;
    padding-left: 2px;
    padding-right: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #242220;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    font-style: italic;
    flex-shrink: 0;
}

.Element:hover {
    color: #666666;
}

.Element.active {
    color: #999999;
}

.Element::after {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 2px;
    width: 0;
    height: 2px;
    background-color: #999999;
    transition: width 0.3s ease;
}

.Element.active::after {
    width: calc(100% - 2px); /* 2px sağdan boşluk bırakmak için */
}

.Element.disabled {
    color: #CCCCCC;
    cursor: not-allowed;
}

.Element.disabled:hover {
    color: #CCCCCC;
}

.Element.disabled::after {
    display: none;
}

.ShiftArrow {
    position: absolute;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0.7; /* Başlangıçta soluk görünüm için */
}

.ShiftArrow:hover {
    opacity: 1; /* Sadece ok'un üzerine geldiğinde tam opaklık */
}

@media (max-width: 768px) {
    .Container {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: auto;
    }

    .Element {
        flex: 0 0 auto;
    }
}