.LiveContainer {
  margin-top: 24px;
  padding: 0 16px; /* Added padding for responsiveness */
}

.liveItem {
  padding: 16px 24px 12px 24px;
  width: 100%;
  max-width: 100%;
  border-radius: 15px;
  border: 1px solid #e7e5e4;
  margin-bottom: 16px;
  box-sizing: border-box; /* Ensure padding is included in width */
}

@media (max-width: 768px) {
  .liveItem {
    padding: 12px 16px;
  }
}

.DetailArrow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Title {
  width: 80%;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.81px;
  letter-spacing: 0.03em;
  text-align: justified;
  color: #999999;
}

.Type {
  margin-top: 12px;
}

.Organisation {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
  letter-spacing: 0.04em;
  color: #999999;
  margin-top: 4px;
}

.Headline {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
  letter-spacing: 0.04em;
  color: #999999;
  margin-top: 4px;
}

.blogRow {
  display: flex;
  overflow: hidden;
}

.blogItem {
  flex: 1;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogTitle {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.81px;
  letter-spacing: 0.03em;
  text-align: justified;  
  color: #999999;
}

.blogArrow {
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.scrollLeft {
  animation: scrollLeft 10s linear infinite;
}

.scrollRight {
  animation: scrollRight 10s linear infinite;
}

@keyframes scrollLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
