.LiveContainer {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;  
  overflow-x: hidden; /* Add this line to hide horizontal scrollbar */
  scrollbar-width: none;
  scrollbar-color: #E7E5E4 transparent;
  -webkit-overflow-scrolling: touch;
}

.liveItem {
  padding: 16px 24px 12px 24px;
  width: 100%;
  max-width: 100%;
  border-radius: 15px;
  border: 1px solid #e7e5e4;
  margin-bottom: 16px;
  box-sizing: border-box; 
  cursor: pointer;
  color: #242220D9;
  overflow-x: hidden; /* Add this line to hide horizontal scrollbar for each item */
}

@media (max-width: 768px) {
  .liveItem {
    padding: 12px 16px;
  }
}

.DetailArrow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Title {
  width: 90%;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.81px;
  letter-spacing: 0.03em;
  text-align: justified;
  color: #242220;
}

.Type {
  margin-top: 4px;
  color: #999999CC;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
}

.Organisation {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
  letter-spacing: 0.04em;
  color: #999999;
  margin-top: 4px;
}

.Headline {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
  letter-spacing: 0.04em;
  color: #999999;
  margin-top: 4px;
}

.blogRow {
  display: flex;
  overflow: hidden;
  width: max-content;
  position: relative;
}

.blogItem {
  flex: 0 0 auto;
  width: auto;
  padding: 12px 24px;
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
  overflow: hidden;
}

.blogTitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.81px;
  letter-spacing: 0.03em;
  text-align: justified;
  color: #999999;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 8px;
}

.blogArrow {
  flex-shrink: 0;
  margin-left: 8px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 6px;
}

.blogArrow svg {
  width: 12px;
  height: 12px;
}

.scrollLeft {
  animation: scrollLeft 360s linear infinite;
}

.scrollRight {
  animation: scrollRight 360s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-100%)
  }
  100% {
    transform: translateX(0);
  }
}

.AuthorDate {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
  letter-spacing: 0.04em;
  color: #999999;
  margin-top: 12px;
}

.NewsMetadata {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
  letter-spacing: 0.04em;
  color: #999999;
}

.Author, .Date {
  display: inline-block;
}

.Details {
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 12px;
}

.NewsDetails {
  font-family: Inter;
  font-size: 14px;
  line-height: 1.5;
  color: #242220;
  margin-top: 6px;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18px;
  margin-top: 4px;
  margin-bottom: 14px;
}

.bottomRow .iconContainer {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.bottomRow.expanded .iconContainer {
  opacity: 1;
}

.Type {
  color: #999999CC;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
}

.iconContainer {
  display: flex;
  gap: 8px; /* Adjust this value to control the space between icons */
}

.successMessage {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #999999;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  z-index: 1000;
  animation: fadeIn 0.3s, fadeOut 0.3s 2.7s;
}

/* Remove the .shareIcon class if it's no longer needed */

.hackathonCard {
  width: 99.6%;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #e7e5e4;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.hackathonCardHeader {
  padding: 24px 24px 24px;
}

.hackathonCardHeaderTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hackathonCardTitle {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  font-size: 18px;
  font-weight: 500;
  color: #242220;
  font-family: Inter;
}

.hackathonCardOrganizer {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-size: 14px;
  color: #999999;
}

.hackathonCardExternalLink {
  color: #999999;
  transition: color 0.2s ease;
}

.hackathonCardExternalLink:hover {
  color: #242220;
}

.hackathonCardContent {
  padding: 0 24px 24px;
}

.hackathonCardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  font-size: 14px;
  color: #666666;
}

