.container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: calc(100% - 70px);
  padding: 14px 14px 14px 70px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #999999;
  border-radius: 64px;
  border: 1px solid #E7E5E4;
}

.input::placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.searchIcon {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}
