.container{
    display: flex;
    max-width: 97%;
    max-height: 100%;
    overflow-y: auto;  
    scrollbar-width: none;
    scrollbar-color: #E7E5E4 transparent;
    -webkit-overflow-scrolling: touch;
}