.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sessionContent {
  width: 100%;
}
