.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 2px; 
  height: 98%;
  bottom: 6px;
  right: 0; 
  background-color: #FFF; 
  cursor: grab; /* Change cursor to open hand */
  border-radius: 2px; 
}

.react-resizable-handle:hover {
  background-color: #ccc;
}

.react-resizable-handle:active {
  background-color: black; 
  cursor: grabbing; /* Change cursor to closed hand when resizing */
}

.react-resizable-handle-e {
  right: -7px;
}

.react-resizable-handle-w {
    left: -7px;  
}

.react-resizable-handle-e::before,
.react-resizable-handle-w::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8px;
  left: -3px;
  cursor: grab; /* Change cursor to open hand */
}

.react-resizable-handle-e::before {
  right: -3px;
}

.react-resizable-handle-w::before {
  left: -3px;
}

.react-resizable-handle-e:active::before,
.react-resizable-handle-w:active::before {
  cursor: grabbing; /* Change cursor to closed hand when resizing */
}

.container-div{
  display: flex;
  flex-grow: 1;
}

.panel-profile{
  border-radius: 15px;
  border: 1px solid #E7E5E4;
  margin: 2px;
  margin-right: 8px;
  margin-left: 8px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-panel{    
  display: flex;
  flex: 1;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  border: 1px solid #E7E5E4;
  margin: 2px;
  box-sizing: border-box;
  overflow-y: auto;  
  scrollbar-width: none;
  scrollbar-color: #E7E5E4 transparent;
  -webkit-overflow-scrolling: touch;
}

.panel-live{
  border-radius: 15px;
  border: 1px solid #E7E5E4;
  margin: 2px;
  margin-right: 8px;
  padding: 20px; 
  overflow-y: hidden; /* Live panelinde scrollbar'ı gizle */
}

/* Webkit tarayıcılar için scrollbar'ı gizle */
.panel-live::-webkit-scrollbar {
  display: none;
}

/* Firefox için scrollbar'ı gizle */
.panel-live {
  scrollbar-width: none;
}