.react-resizable {
  position: relative; /* Konumlandırma için gerekli */
}

.react-resizable-handle {
  position: absolute;
  width: 2px; 
  height: 98%;
  bottom: 6px;
  right: 0; 
  background-color: #FFF; 
  cursor: pointer;
  border-radius: 2px; 
}

.react-resizable-handle:hover {
  background-color: #ccc;
}

.react-resizable-handle:active {
  background-color: black; 
}

.react-resizable-handle-e {
  right: -7px; /* Doğu (sağ) kenar için */
}

.react-resizable-handle-w {
    left: -7px;  
}

.container-div{
  display: flex;
  flex-grow: 1;
  max-height: calc(100vh - 200px);
}

.resizable-panel-profile{
  border-radius: 15px;
  border: 1px solid #E7E5E4;
  margin: 2px;
  margin-right: 8px;
  margin-left: 8px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.child-panel{    
  display: flex;
  flex: 1;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  border-radius: 15px;
  border: 1px solid #E7E5E4;
  margin: 2px;
  margin-right: 8px;
  box-sizing: border-box;
  overflow-y: auto;  
  scrollbar-width: none;
  scrollbar-color: #E7E5E4 transparent;
  -webkit-overflow-scrolling: touch;
}

.resizable-panel-live{
  border-radius: 15px;
  border: 1px solid #E7E5E4;
  margin: 2px;
  margin-right: 8px;
  padding: 20px; 
}