.label {
  color: #24222099;
  font-size: 16px;
  margin-right: auto;
}

.arrow {
  margin-left: 1px;
  color: #24222066;
  width: 16px;
  height: 16px;
}

.dropdown {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 2px 0px #00000033, 0px 0px 11.3px 0px #00000033;
  width: 223px;
  max-width: 223px;
  max-height: 198px;
  border-radius: 15px;
  left: -20px;
  padding: 12px;
  flex-direction: column;
  z-index: 1001;
  position: relative;
  overflow: hidden;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  z-index: -1;
}

.dropdownContent {
  max-height: 174px; /* Dropdown'ın içeriği için maksimum yükseklik */
  overflow-y: auto; /* Dikey scroll'u etkinleştir */
  padding-right: 5px; /* Scroll çubuğu için biraz boşluk bırak */
}

/* Webkit tarayıcılar için özel scroll çubuğu stilleri */
.dropdownContent::-webkit-scrollbar {
  width: 5px;
}

.dropdownContent::-webkit-scrollbar-track {
  background: transparent;
}

.dropdownContent::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

/* Firefox için özel scroll çubuğu stilleri */
.dropdownContent {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* Diğer stiller aynı kalacak */

.searchContainer {
  position: relative;
  width: 100%;
  z-index: 1;
}

.searchInput {
  width: calc(100% - 50px);
  margin: 0;
  border: 1px solid #E7E5E4;
  border-radius: 64px;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 50px;
  font-size: 16px;
  font-weight: 400;
  color: #999999;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.searchIcon {
  position: absolute;
  top: 9px;
  left: 12px;
  z-index: 2;
}

.optionsMenu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.option {
  width: 187px;
  height: 19px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: 0.04em;
  color: #999999;
  padding-top: 8px;
  padding-left: 12px;
  padding-bottom: 8px;
  border-radius: 64px;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.option:hover {
  background-color: rgba(240, 240, 240, 0.5);
}

.noResults {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #999999;
  padding: 8px;
  position: relative;
  z-index: 1;
}
