.Container {
  width: calc(100% - 48px);
  padding: 24px;
  border: 1px solid #e7e5e4;
  border-radius: 15px;
  margin-top: 16px;
  display: flex;
}

.PersonalInfo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.ProfilePhoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.ProfileImage{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.NameSurname {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: 0.04em;
}

.InteractionArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
}

.ButtonArea {
  display: flex;
  gap: 16px;
}

.Hidden {
  display: none;
}

.Date {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #242220b2;
  width: 140px;
}
