.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

}

.PopupContainer {
  position: absolute;
  background-color: #ffffffcc;
  box-shadow: 0px 0px 2px 0px #00000033;
  box-shadow: 0px 0px 11.3px 0px #00000033;
  padding-top: 26px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  width: calc(100% - 48px);
  z-index: 1000;
}

.avatarImage {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.EditAvatar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #ffffffcc;
  box-shadow: 0px 0px 2px 0px #00000033;
  box-shadow: 0px 0px 11.3px 0px #00000033;
  top: 115px;
  right: calc(50% - 55px);
}

.InputGroup {
  width: calc(100% - 48px); /* 48px sol ve sağ boşluk için */
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 4px;
}

.InputGroup + .InputGroup {
  margin-top: 12px; /* Name Surname ve Headline arasına 12px boşluk ekler */
}

.Site {
  margin-top: 12px;
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.SiteInput {
  width: 100px;
  max-width: 200px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: #999999;
  border: 1px solid #e7e5e4;
  border-radius: 10px;
}

.SiteInput::placeholder {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: #999999;
}

.About {
  width: 100%;
}

.AboutText {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.81px;
  letter-spacing: 0.03em;
}

.SocialMedias {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.LineDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.Line {
  background-color: #e7e5e4;
  width: 255px;
  height: 1px;
}

.AddSection {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  position: relative;
}

.SectionPopup {
  border-radius: 7px;
  top: 50px;
  position: absolute;
  background-color: #ffffffcc;
  box-shadow: 0px 0px 2px 0px #00000033;
  box-shadow: 0px 0px 11.3px 0px #00000033;
  width: 244px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 26px;
  padding-bottom: 26px;
  z-index: 1000;
}

.ElementDiv {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.SectionText {
  margin-left: 24px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.81px;
  letter-spacing: 0.03em;
  color: #999999;
}

.ChangeRow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.ButtonDiv {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.CancelButton {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  margin-right: 20px;
  cursor: pointer;
}

.CancelButton:hover {
  text-decoration: underline;
}
