.login-client-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text{ 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
    width: 100%;
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    letter-spacing: 0.04em;
    text-align: center;   
    margin-bottom: 48px; 
}
.google-button,
.apple-button {
    position: relative;
    width: 100%;
    max-width: 300px;
    padding: 19.7px 23px 19.7px 58px;
    border-radius: 15px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E9;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.google-button:hover,
.apple-button:hover {
    transform: scale(1.04);
}

.google-button:active,
.apple-button:active {
    transform: scale(0.98);
}

.svg-icon-login {
    position: absolute;
    left: 22px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.1s ease-in-out;
}

.google-button:hover .svg-icon-login,
.apple-button:hover .svg-icon-login {
    transform: translateY(-50%) scale(1.04);
}

.google-button:active .svg-icon-login,
.apple-button:active .svg-icon-login {
    transform: translateY(-50%) scale(0.98);
}

.email-text{
    width: 100%;
    text-align: center;
    color: #1D1C2B99;
    margin-top: 24px;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer; 
}

.bottom-line{
    width: 199px;
    height: 2px;
    margin-top: 24px;
    background-color: #ADACAE1A;
}
.information{
    margin-top: 12px;
    width: 239px;
    font-family: Inter;
    font-size: 10px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    color: #1D1C2B66;
}

.remember-input{
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #00000014;
    box-shadow: 0px 1px 2px 0px #00000026 inset;
    background-color: #BBBBBB33;
    outline: none;
    cursor: pointer;
}

input.checked{    
  background-color: #007a7e;
  position: relative;
}

input.checked::before {
    content: "2714";
    font-size: 1.5em;
    color: #fff;
    position: absolute;
    right: 1px;
    top: -5px;
}

.remember-span{
    font-family: Inter;
    font-size: 12px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
    color: #24222066;
    margin-left: 10px;
}

.recovery-span{
    font-family: Inter;
    font-size: 12px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
    color: #999999;
    margin-left: 40px;
}

.error-input {
  border-color: #ff0000 !important;
}

.error-message-container {
  height: 20px; 
  margin-bottom: 10px;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  text-align: center;
}

.register-popup{
    position: absolute;
    top: 36%;
    left: calc(50vw - 150px);
    box-shadow: 0px 0px 2px 0px #00000033;
    box-shadow: 0px 0px 11.3px 0px #00000033;
    background-color: #FFFFFF;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
    border-radius: 15px;
    z-index: 100;
}

.register-popup-line{
    display: flex;
    gap: 12px;
}

.policy-link {
  color: #1D1C2B;
  text-decoration: none;
  font-weight: 300;
}

.policy-link:hover {
  text-decoration: underline;
  text-decoration-color: #1d1c2b81;
}
