.SocialLogo{
    margin-left: 12px;
}

.SocialLogo:hover{
    cursor: pointer;    
}

.collapsedItem {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-left: 12px;
    cursor: pointer;
  }