.SocialLogo {
  margin-left: 12px;
  position: relative;
}

.SocialLogo:hover {
  cursor: pointer;
}

.collapsedItem {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  cursor: pointer;
}

.DeleteDiv {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 0px #00000033;
  box-shadow: 0px 0px 11.3px 0px #00000033;
  background: #ffffffcc;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
}

.EditDiv {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 0px #00000033;
  box-shadow: 0px 0px 11.3px 0px #00000033;
  background: #ffffffcc;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  right: 0px;
}
