.SelectedJobListRow {
    display: flex;
}

.SelectedListTitle{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    letter-spacing: 0.04em;
    color: #000000;
    margin: 0;
    margin-bottom: 1px;
    margin-right: 4px;
}

.SelectedJobCompany {
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.73px;
    letter-spacing: 0.04em;
    color: #000000;
    margin-top: 2px;
}

.SelectedJobType{
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
    letter-spacing: 0.03em;
    color: #222420B2;
    margin-right: 12px;
}

.SelectedJobLocation{
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
    letter-spacing: 0.03em;
    color: #222420B2;
    margin-right: 12px;
}

.SelectedJobSalary{
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
    letter-spacing: 0.03em;
    color: #222420B2;
}
.LeftArea {
    margin-left: 12px;
    width: 50%;
}

.ListArea {
    border: 1px solid #E7E5E4;
    border-radius: 15px;
}