.container {
  display: flex;
  font-family: 'Geist', sans-serif;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px 20px;
}

.menu {
  width: 250px;
  padding-right: 100px;
  position: sticky;
  top: 60px; /* Navbar'ın hemen altında başlaması için */
  height: calc(100vh - 65px); /* Viewport yüksekliği eksi navbar yüksekliği */
  overflow-y: auto; /* İçerik fazla olursa scroll olabilmesi için */
  line-height: 18px;
  font-size: 15px;
  font-weight: 600;
  align-self: flex-start;
}

.menu h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  cursor: pointer;
  margin-bottom: 20px;
  color: #242220;
}

.menu li:hover {
  color: #242220be;
}

.content {
  flex: 1;
  padding-bottom: 65px;
}

.content h2 {
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 15px;
}

.content h3 {
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.content p, .content li {
  line-height: 1.6;
  margin-bottom: 10px;
}

.content ol {
  padding-left: 20px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .menu {
    width: 100%;
    position: static;
    height: auto;
    margin-bottom: 20px;
    overflow-y: visible;
  }

  .content {
    padding-bottom: 20px;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background-color: white;
  z-index: 1000;
}