.form-button {
  border: none;
  border-radius: 15px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: 0.03em;
  background-color: #242220;
  color: #FFFFFF;
}


