.selection-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.name {
    font-size: 17px;
    font-weight: 500;
    color: #242220CC;
    font-family: Inter;
    line-height: 20.57px;
    
    height: 21px;
    top: 192px;
    left: 561px;
    gap: 0px;
    opacity: 0px;
    padding-bottom: 12px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    padding-bottom: 12px;
    color: #24222099;
    font-family: Inter;
   
}

.checkbox-item input[type="checkbox"] {
    display: none;
}

.checkbox-item label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #24222099;
    flex-grow: 1; /* Eklendi: label'in genişlemesi için */
}

.square-checkbox::before,
.circle-checkbox::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    border: 1px solid #E7E5E4;
}

.square-checkbox::before {
    border-radius: 7px; /* Kare şekli */
}

.circle-checkbox::before {
    border-radius: 50%; /* Daire şekli */
}

.checkbox-item input[type="checkbox"]:checked + .square-checkbox::before,
.checkbox-item input[type="checkbox"]:checked + .circle-checkbox::before {
    background-color: #E7E5E4;
    border: 1px solid #E7E5E4;
}

.checkbox-item .sublabel {
    margin-left: auto;
    padding-left: 10px;
    color: #24222066;
    white-space: nowrap; /* Eklendi: sublabel'ın tek satırda kalmasını sağlamak için */
}