.selection-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.name {
    font-size: 17px;
    font-weight: 500;
    color: #242220CC;
    font-family: Inter;
    line-height: 20.57px;
    height: 21px;
    opacity: 1;
    padding-bottom: 12px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    padding-bottom: 12px;
    color: #24222099;
    font-family: Inter;
    
}

.checkbox-item input[type="checkbox"] {
    display: none;
}

.checkbox-item label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #24222099;
    flex-grow: 1;
}

.square-checkbox::before,
.circle-checkbox::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    background-color: #BBBBBB33;
    border: 1px solid #00000014;
    box-shadow: 0px 1px 2px 0px #00000026 inset;

}

.square-checkbox::before {
    border-radius: 7px; /* Square shape */
}

.circle-checkbox::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    background-color: #BBBBBB33;
    border: 1px solid #00000014;
    box-shadow: 0px 1px 2px 0px #00000026 inset;
    border-radius: 50%;
}

.checkbox-item input[type="checkbox"]:checked + .square-checkbox::before {
    background-color: #999999;
    border: 1px solid #E7E5E4;
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-item input[type="checkbox"]:checked + .square-checkbox::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 11px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8876 0L14.7101 1.82248L10.1213 6.41124L5.53254 11L0 5.46746L1.82249 3.64497L5.53254 7.35503L9.21006 3.67751L12.8876 0Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox-item input[type="checkbox"]:checked + .circle-checkbox::before {
    background-color: #999999;
    border: 1px solid #E7E5E4;
    box-shadow: 0px 1px 2px 0px #0000001A, 0px 1px 3px 0px #0000001A, 0px 0px 2px 0px #0000001A, 0px 1px 2px 0px #00000026 inset;
}

.checkbox-item input[type="checkbox"]:checked + .circle-checkbox::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 6px;  /* Radio checkbox'ın içinde konumlandırma */
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
}

.checkbox-item .sublabel {
    margin-left: auto;
    padding-left: 10px;
    color: #24222066;
    white-space: nowrap;
}
