.control-group{
    border-radius: 15px;
    width: 100%;
}

.button-group{
    display: flex;
    align-items: center;
    border-bottom: 1.45px solid #E7E5E4;
    padding-left: 26px;
    
}

.bold-button-draft {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    color: #999999;
    border: none;
    background-color: transparent;
    margin-right: 1px;
    
    position: relative; /* Konumlandırmayı desteklemek için */
    transition: color 0.3s, background-color 0.3s; /* Geçiş efektleri */
}

.bold-button-draft::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px; /* Dairenin boyutu */
    height: 30px; /* Dairenin boyutu */
    background-color: rgba(36, 34, 32, 0.05); /* Dairenin rengi */
    border-radius: 50%; /* Yuvarlak daire */
    z-index: -1; /* Arka planda kalması için */
    transition: opacity 0.3s; /* Geçiş efekti */
    opacity: 0; /* Başlangıçta görünmez */
}

.bold-button-draft:hover::before{
    opacity: 1; /* Hover durumunda dairenin görünmesini sağlar */
}

.svg-container-list {
    position: relative;
    display: inline-block;
    
  }
  .svg-container-italic{
    position: relative;
    display: inline-block;
    
  }
  .svg-container-strike{
    position: relative;
    display: inline-block;
  }
  
  .svg-container-list svg {
    position: relative;
    z-index: 2;
  }
  .svg-container-italic svg{
    position: relative;
    z-index: 2;
  }
  .svg-container-strike svg{
    position: relative;
    z-index: 2;
  }
  
  .svg-container-list::before {
    content: "";
    position: absolute;
    top: 50%;
    left:49%;
    width: 30px;
    height: 30px;
    background-color: rgba(36, 34, 32, 0.05);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .svg-container-italic::before{
    content: "";
    position: absolute;
    top: 50%;
    left:55%;
    width: 30px;
    height: 30px;
    background-color: rgba(36, 34, 32, 0.05);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .svg-container-strike::before {
    content: "";
    position: absolute;
    top: 50%;
    left:50%;
    width: 30px;
    height: 30px;
    background-color: rgba(36, 34, 32, 0.05);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .svg-container-list:hover::before {
    opacity: 1;
  }
  .svg-container-italic:hover::before{
    opacity: 1;
  }
  .svg-container-strike:hover::before{
    opacity: 1;
  }


  .button-group {
    display: flex;
    align-items: center;
    gap: 10px; /* İkonlar arasındaki boşluk */
    height: 50px;
  }
  
  .text-size-select {
    font-size: 16px;
    margin-right: 10px;
  }
  
 
  
  .svg-container-italic,
  .svg-container-strike,
  .svg-container-list {
    display: inline-block;
    width: 16px; /* Sabit genişlik */
    height: 16px; /* Sabit yükseklik */
    vertical-align: middle; /* Dikey hizalama */
    line-height: 16px; /* Dikey hizalama için */
    margin-right: 10px; /* Sağda boşluk */
  }
  
  .svg-container-italic svg,
  .svg-container-strike svg,
  .svg-container-list svg {
    width: 100%;
    height: 100%;
  }
  
  .right-line {
    margin-right: 10px; /* Sağ boşluk */
  }
  
  

.ProseMirror-focused {
    border: none !important;
    outline: none !important;
}

.control-group p, .control-group h4, .control-group h2  {
    margin-left: 26px;
    margin-right: 26px;
}

/* İhtiyaç halinde içine yazılan yazının birbirine yaklaşması ve Butona yaklaşmak için kullanılacak.*/

.editor-content {
    width: calc(100%); 
    max-width: calc(100%);
     
    flex-grow: 1; 
    overflow: auto; 
    word-wrap: break-word; 
    white-space: pre-wrap; 
    padding: 24px; 
    box-sizing: border-box; 
}


.text-size-select{
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 650;
    line-height: 21px;
    color: #999999;
    margin-right: 26px;    
    cursor: pointer;
}

.text-size-select:active{
    border: none;
    outline: none;
}

.right-line{
    width: 2px;
    height: 36px;
    background-color: #ADACAE1A;
    margin-right: 6px;
    
    
}

.errorBorder {
    border: 2px solid red !important;
  }

.error-border {
    border-color: #ff0000 !important;
}

.text-size-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.text-size-label {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: #999999;
    margin-right: 16px;
}

.text-size-value {
    font-family: Inter;
    font-size: 15px;
    font-weight: 650;
    line-height: 21px;
    color: #999999;
    cursor: pointer;
}

.text-size-dropdown {
    position: absolute;
    top: 100%;
    left: 40px;
    background-color: #FFFFFFCC;
    box-shadow: 0px 0px 2px 0px #00000033, 0px 0px 11.3px 0px #00000033;
    border-radius: 15px;
    z-index: 1000;
    width: 100%;
}

.dropdown-item {
    padding: 8px 12px;
    font-family: Inter;
    font-size: 15px;
    color: #999999;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.dropdown-item:hover {
    background-color: #F5F5F5;
}

