.icon-div {
    padding: 0;
    margin: 0;
    border: none;
    pointer-events: auto;
    position: relative;
}

.icon-hover {
    display: flex;    
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

.icon-hover:hover {
    background-color: #2422200D;
    cursor: pointer;
}

.icon-hover:active {
    background-color: white;
}

.icon-hover:active .svg-icon {
    fill-opacity: 1;
}

.hover-content {
    position: absolute; 
    width: auto;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    border-radius: 5px;
    background-color: #2422200D;
    color: #24222099;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    pointer-events: none;
}

.hover-content.show {
    opacity: 1;
    visibility: visible;
}