.form-input {
    background-color: white;
    border-radius: 39px;
    width: 100%;
    height: 100%;
    border: 1px solid #E7E5E4;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    appearance: none;
    box-sizing: border-box;
    vertical-align: middle;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 15px;
    padding-bottom: 14px;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-span {
    position: absolute;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: #24222066;
    left: 24px;
    top: 15px;
    transition-timing-function: ease-in;
    transition-duration: .125s;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
}

.form-span-focused {
    font-size: 12px;
    top: 2px;
}

.form-span-focused {
    top: 0px;
    left: 25px;
    font-size: 0.8em;
    color: #333;
}

.custom-file-label {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    width: fit-content;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
