.sidebar {
    width: 20%;
    border-right: 1px solid #eee;
    padding: 20px;
    
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
    color: #999999;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.75px;
    letter-spacing: 0.03em;
    text-align: left;
    padding-top: 36px;

  }
  
  .sidebar ul li.active {
    color: #242220;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 33.07px;
    letter-spacing: 0.03em;
    text-align: left;


  }
  