.range-slider-container {
  width: 208px;
  height: 50px; 
  margin: auto;
  position: relative;
}

.custom-slider .MuiSlider-thumb {
  background-color: white;
  border: 0.5px solid #2422201A;
}

.custom-slider .MuiSlider-track {
  background-color: black;
}

.custom-slider .MuiSlider-rail {
  background-color: lightgray;
}

.value-labels {
  padding: 0 10px;
  margin-bottom: 20px;
}

.value-label1 {
  margin: 17px; 
  color: #24222099;
  font-weight: 300;
  font-size: 16px;
  font-family: Inter;
  
  
}
.value-label2 {
  margin: 55px; 
  color: #24222099;
  font-weight: 300;
  font-size: 16px;
  font-family: Inter;
  
}