html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

#scale-wrapper {
  width: 1920px;
  height: 100vh;
  transform-origin: top left;
}

.layout-container-div {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-height: 100vh;
}

.layout-main-div {
  flex-grow: 1;
  display: flex;
}

@media (max-width: 1100px) {
  body {
    overflow-x: auto;
    overflow-y: hidden;
  }
  #scale-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
  }
}