html,
body {
  width: 1900px;
  min-width: 1900px;
  overflow-x: auto;
  max-height: 100vh;
  overflow-y: hidden;
  font-family: 'Inter', sans-serif;
}

.layout-container-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.layout-main-div{
  flex-grow: 1;
  display: flex;
}