.MainDiv {
  width: 100%;
  height: 100%;
  display: flex;  
  align-items: center;
  flex-direction: column;
}

.Join{
  font-family: 'Inter';
  text-align: left;
  color: #ccc;
  font-size: 19px;
}

.Club{
  font-family: 'Inter';
}

.Launch{
  color: #ccc;
}

.Description{
  text-align: center;
  color: #ccc;
  width: 220px;
}

.Mail{
  width: 100%;
  padding-top: 10px;
  padding-left: 0px;
  border: none;
  border-bottom: 0.3px solid #000000;
  outline: none;
  font-family: 'Inter';
}


.Mail:focus{
  border: none;
  border-bottom: 0.3px solid #000000;
  outline: none;
}

.SuccessMessage{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
}

.Title{
  font-family: 'Inter';
  font-size: 29px;
}



.button{
  margin-top: 8px;
  width: 100%;
  font-family: 'Inter';
  color: #000000;
}

.socialMediaX{ 
  margin-right: 5px;
}