.main{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
}

.password{
    border: none;
    border-radius: 0px;
    outline: 0;
    border-bottom: 1px solid #000000;
    padding-left: 0px;
    margin-top: 12rem;
    font-family: 'Inter';
}

.password:active{
    border: none;
    border-radius: 0px;
    outline: 0;
    border-bottom: 1px solid #000000;
}

.password:hover{
    cursor: pointer;
}

.button{
    margin: 0;
    margin-top: 8px;
    width: 234px;
    border-radius: 15px;
    font-family: 'Inter';
    font-weight: bold;
    border: 1px solid #ccc;
    color: #000000;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #ffffff;
  }
  
  .button:hover{
    cursor: pointer;
    background-color: #cfccc966;
  }
  
  .button:active{
    cursor: pointer;
    background-color: #24222066;
  }