.details {
    padding: 20px;

    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.headerJobDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.section{
    width: 100%;
    border-radius: 15px;
    padding-bottom: 25px;
    margin-bottom: 17px;
    margin-top: 28px;
}

.containerJobDetails {
    position: relative;  /* Bu satırı ekleyin */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.logo img {
    width: 83px;
    height: 83px;
    border-radius: 15px;
    opacity: 0.94;
    
}

.logo {
    width: 83px;
    height: 83px;
    border-radius: 15px;
    margin-bottom: 8px;
    margin-top: 32px;
}

.CompanyJobDetails {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.04em;
    margin: 0;
    margin-bottom: 2px;
}

.TitleJobDetails {
    font-family: Inter;
    font-size: 27px;
    font-weight: 500;
    line-height: 32.68px;
    letter-spacing: 0.04em;    
    margin: 0;
    margin-bottom: 2px;
}

.LocationDetails {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0.04em;  
    margin: 0;
    margin-bottom: 24px;
    color: #00000099;
}

.jobDetails {
    text-align: center;
    
}

.description {
    margin-bottom: 20px;
}

.meta {
    margin-bottom: 20px;
}

.actions {
    margin-top: auto;
}

.shareButton {
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
}

.closeIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 10;
}

.actionButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.shareButton {
    margin-left: 10px;
}

.successMessage {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #999999;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 1000;
    animation: fadeIn 0.3s, fadeOut 0.3s 2.7s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}