.LocationText {
    color: #999999;
    margin-right: 7px;
}

.SearchInput{
    width: 199px;
    height: 36px;
    border: 1px solid #E7E5E4;
    border-radius: 64px;
}

.DropDownDiv{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 7px;
    padding: 12px;
    padding-bottom: 24px;
    margin-top: 8px;
    width: 199px;
    z-index: 1000;
    background-color: #FFFFFFCC;
    box-shadow: 0px 0px 2px 0px #00000033;
    box-shadow: 0px 0px 11.3px 0px #00000033;

}