.locationContainer{
  width: 224px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid #E7E5E4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  cursor: pointer; /* Add this line to make the entire container a pointer */
  position: relative; /* Add this line */
}

.label {
  color: #999999;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin-right: auto;
}

.arrowContainer{  
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100%;
}

.arrow {
  margin-right: 15px;
  color: #24222066;
  width: 23px;
  height: 12px;
  transition: transform 0.3s ease;
  /* Remove the cursor: pointer; from here as it's now on the container */
}

.arrowRotated {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1); /* Arkaplan saydamlığını artırdık */
  backdrop-filter: blur(10px); /* Buzlu cam efekti */
  box-shadow: 0px 0px 2px 0px #00000033, 0px 0px 11.3px 0px #00000033;
  width: 223px; /* Container genişliğine eşit */
  max-width: 223px;
  max-height: none;
  overflow-y: auto; /* Add a scrollbar when content exceeds the height */
  border-radius: 15px;
  top: 100%; /* Position it right below the container */
  left: 50%; /* Yeni eklenen satır */
  transform: translateX(-50%); /* Yeni eklenen satır */
  padding: 12px;
  padding-bottom: 33px;
  flex-direction: column;
  z-index: 1000;
  margin-top: 8px; /* Add some space between the container and dropdown */
}

.searchContainer {
  position: relative;
  width: 100%;
  margin-top: 8px;
}

.searchInput {
  width: calc(100% - 55px);
  margin: 0;
  border: 1px solid #E7E5E4;
  border-radius: 15px;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 50px;
  font-size: 16px;
  font-weight: 400;
  color: #999999;
}

.searchIcon {
  position: absolute;
  top: 9px;
  left: 12px;
}

.optionsMenu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-height: 150px; /* İstediğiniz yüksekliğe göre ayarlayın */
  overflow-y: auto; 
  padding-top: 5px;

}


.option {
  width: 187px;
  height: 19px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: 0.04em;
  color: #999999;
  padding-top: 8px;
  padding-left: 12px;
  padding-bottom: 8px;
  border-radius: 64px;
}

.option:hover {
  background-color: #f0f0f0;
}

.noResults {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #999999;
  padding: 8px;
}
