.account {
  padding-left: 16px;
  font-family: 'Inter', sans-serif;
}



.account-item {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center align items vertically */
  margin-bottom: 30px;
  margin-top: 42px;
}

.account-item div {
  display: flex;
  flex-direction: column; 
  flex: 1; /* Allow text container to take up available space */
}

.account-item span {
  color: #999999;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 31.75px;
  letter-spacing: 0.03em;
  text-align: left;
}

.account-item Button {
  width: 123px !important;
  height: 50px !important;
  border-radius: 15px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.account-item Button span {
  font-weight: 500 !important;
  font-size: 15px !important;
  color: #999999 !important;
}

.account-subtext {
  color: rgba(153, 153, 153, 0.7); /* 70% of #999999 */
  margin-top: 5px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.account-button {
  margin-left: auto;
   /* Add spacing between text and button */
}

.danger-zone {
  margin-top: 60px;
}

.danger-zone span {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 31.75px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #999999;
}

.danger-divider {
  border: none;
  border-top: 1px solid #E7E5E4;
  margin-top: 36px;
}
