.general {
    margin-top: 52px;
  
  }
  
  .general-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .general h3 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 31.75px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #999999;
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 0; /* Remove bottom margin */
  }
  
  .general p {
    color: #666;
  }
  
  .general-dropdown {
    width: 191px; 
    display: flex;
    align-items: center; /* Center align dropdown vertically */
    text-align: right;
    margin-right: 0; /* Sağdan boşluk bırakmaz */
    margin-left: auto;
  }
  
  /* Adjust dropdown styling if necessary */
  .general-dropdown .dropdown {
    width: 100%;
  }
