.settings-page {
    display: flex;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    width: -webkit-fill-available;
  }
  
  .content {
    width: 80%;
    padding: 20px;
  }
  
  .arrowContainer {
 
    align-items: center;
    justify-content: center;
   margin-top: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    margin-right: 30px;
    background-color: rgba(255, 255, 255, 0.5); /* Arkaplan saydamlığını artırdık */
    backdrop-filter: blur(10px);
    width:45px;
    height: 45px;
    border-radius: 30px;
    z-index: 40;
   
    /* Add any other styling */
  }