.container {
    display: flex;
    padding: 0 5px;
    box-sizing: border-box;
    justify-content: flex-end;
}

.jobList {
    flex: 1;
    transition: flex 0.3s ease;
    position: relative;
    width: 100%;
}

.collapsed {

}

.jobDetails {
    width: 100%;
    min-height: 100%;
    flex: 1;
    margin-left: 24px;
    transition: flex 0.3s ease;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    max-width: 461px;
}

.hidden {
    display: none;
}

.card {
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: width 0.3s ease;
    cursor: pointer;
    width: calc(100% - 40px);
    /* Kenarlardan boşluk bırakıldığı için */
    max-width: 950px;
    /* Başlangıçta maksimum genişlik */
    min-width: 300px;
    /* Minimum genişlik */
    border: #E7E5E4 1px solid;
    box-sizing: border-box;
    z-index: 2;
}

.card:not(.collapsed) {
    width: 100%;
    /* Başlangıç genişliği */
    display: flex;
}

.card.collapsed {
    width: 450px;
    /* Küçük boyut */
}