.container {
  display: flex;
  width: 100%;
  max-height: 100%;
}

.JobCardArea {
  flex-grow: 1;
  position: relative;
  overflow: hidden; /* Blur efektinin dışarı taşmasını önler */
}

.JobCardArea::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px; /* Efektin yüksekliği */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  pointer-events: none; /* Alt elementlerin tıklanabilir kalmasını sağlar */
}

.JobCardArea.dragging {
  width: 50%;
}

.DetailAreaContainer {
  position: relative; /* Efektin dışarıya eklenebilmesi için gerekli */
  width: 50%;
  margin-left: 12px;
  padding: 2px;
  max-height: 100%;
  overflow: hidden; /* Efektin dışarı taşmasını engeller */
}

.DetailArea {
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: #e7e5e4 transparent;
  -webkit-overflow-scrolling: touch;
  padding: 12px;
  border: 1px solid #e7e5e4;
  border-radius: 15px;
}

/* Beyaz blur efektini dışarı ekleyen kısım */
.DetailAreaContainer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px; /* Efektin yüksekliği */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  pointer-events: none; /* Tıklama olaylarını engellemez */
}


.JobDetailArea {
  border: 1px solid #e7e5e4;
  border-radius: 15px;
  padding: 12px;
  -webkit-overflow-scrolling: touch;
}



