/* JobCard.module.css */

.card {
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 12px;
  padding-bottom: 9px;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: width 0.3s ease;
  cursor: pointer;
  max-width: 100%;
  border: #e7e5e4 1px solid;
  margin-bottom: 12px;
  filter: grayscale(100%);
}

.card:hover {
  background-color: #2422200d;
  border: 1px solid #2422200d;
}

.card:active {
  background-color: #ffffff;
  border: 1.5px solid #242220;
}
.card.active {
  filter: grayscale(0%);
}

.collapsed {
  max-width: 100%;
  /* Küçük boyut */
}

.icon img {
  width: 60px;
  height: 60px;
  border-radius: 25%;
}

.details {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 20px;
}

.TitleCompany {
  display: flex;
}

.title {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  letter-spacing: 0.04em;
}

.company {
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.73px;
  letter-spacing: 0.04em;
  margin-left: 4px;
}

.meta {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.type,
.salary,
.location {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  opacity: 70%;
  margin: 0;
  padding: 0;
}

.type,
.location {
  margin-right: 12px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  position: absolute;
  right: 15px;
  top: 10px;
  height: 75%;
}

.actions .faCircleCheck,
.actions .faBookmark {
  margin-top: auto;
}

.IconCircle {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.IconSave {
  position: absolute;
  right: 40px;
  bottom: 20px;
}

.closeIcon {
  position: absolute;
  right: 10px;
  top: 10px;
}
