.notifications {
    padding: 20px;
    font-family: 'Inter', sans-serif;
  }
  
  .notifications h4 {
    margin-bottom: 20px;
    color: #999999;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.75px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  
  .notification-divider {
    border: none;
    border-top: 1px solid #E7E5E4;
    margin: 20px 0;
  }
  
  .notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
  }
  
  .notification-item span {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.75px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #999999;
  }
  
  .sub-label span {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.81px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #999999;
    
  
  }
  .sub-label{
    margin-top: 24px;
    text-align: center;
  }
  
  .notification-item + .single-slider-container {
    margin-top: 72px;
  }
  