.Container {
  width: 100%;
  max-width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 36px;
  padding-right: 36px;
  display: flex;
}

.JobsText {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 31.75px;
  letter-spacing: 0.03em;
}

.Line {
  margin-top: 16px;
  margin-bottom: 8px;
  width: 100%;
  height: 1px;
  background: #e7e5e4;
}

.TopDetail {
  display: flex;
}

.Options {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.ListContainer {
  flex-grow: 1;
  transition: width 0.3s ease;
  max-height: 100%;
  overflow-y: auto;  
  scrollbar-width: none;
  scrollbar-color: #E7E5E4 transparent;
  -webkit-overflow-scrolling: touch;
  padding: 2px;
}

.FullWidth {
  width: 100%;
}

.DetailContainer {
  width: 40%;
  max-height: 100%;
  overflow-y: auto;  
  scrollbar-width: none;
  scrollbar-color: #E7E5E4 transparent;
  -webkit-overflow-scrolling: touch;

  border-left: 1px solid #e7e5e4;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 36px;
  padding-bottom: 36px;
  margin-left: 12px;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
}

.ProfilePhoto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.ProfileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.NameSurname {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-top: 24px;
}

.ButtonArea {
  margin-top: 36px;
  display: flex;
  gap: 16px;
}

.QuestionAndAnswerArea {
  width: calc(100% - 48px);
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.QuestionAndAnswer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.Question {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  letter-spacing: 0.04em;
  text-align: left;
}

.Answer {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.84px;
  letter-spacing: 0.03em;
  text-align: justified;
  color: #999999;
}
