.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: #E7E5E4 transparent;
    -webkit-overflow-scrolling: touch; 
}

.centerDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo{
    position: relative;
    border: none;
}

.companyLogo{
    width: 131px;
    height: 131px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}

.logoText{
    position: absolute;
    top: 52px;
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.84px;
    letter-spacing: 0.04em;
}

.companyName{
    margin-top: 8px;
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.84px;
    letter-spacing: 0.04em;
}

.SelectionGroup{
    display: flex;
    margin-top: 6rem;
}

.DropDownContainerDiv{
    width: 16.875rem;
}

.DropDownContainerDivMargin{
    margin-right: 3.875rem;
}

.SalaryGroup{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 72px;
}

.SalaryText{
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: #999999;
    margin-right: 1.5rem;
}

.MaxMinContainerDiv{
    width: 5.875rem;
}

.SpaceDiv{
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 21px;
    color: #24222066;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.delete-toggle-wrapper {
    position: relative;
    display: flex;
    width: 40px;
    height: 20px;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.254);
    background-color: white;
}

.delete-toggle {
    position: absolute;
    height: 19px;
    width: 19px;
    background-color: black;
    border-radius: 1rem;
}
.justify-start {
    justify-content: flex-start;
    background-color: rgba(58, 65, 111, 0.1);
}

.justify-end {
    justify-content: flex-end;
    background-color: rgba(153, 153, 153, 1);
    border-color: rgba(153, 153, 153, 1);
}

.bg-white {
    color: white;
    background-color: white;
}

.ToggleDiv{
    display: flex;
    align-items: center;
}

.Visa{
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: #999999;
    margin-left: 4.25rem;
    margin-right: 0.875rem;
}

.JobDescriptionText{
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: #999999;
    margin-bottom: 8px;
}

.JobDescription{
    margin-top: 4.25rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 1px;
}

.Continue{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
}