.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4px;
  margin: 0;
  flex-grow: 1;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: #e7e5e4 transparent;
  -webkit-overflow-scrolling: touch;
}

.centerDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  position: relative;
  border: none;
  margin-bottom: 24px; /* Profil fotoğrafı ve company name arasında 16px boşluk */
}
.companyLogo {
  width: 130px; /* Resmin genişliği, ihtiyacınıza göre ayarlayın */
  height: auto; /* Resmin yüksekliği otomatik */
  z-index: 1; /* Resmin z-index'i ikondan düşük olmalı */
  border-radius: 15px;
  cursor: pointer;
}

.companyLogoWrapper {
  position: relative;
  display: inline-block;
  align-items: center;
}
.companyLogoSection {
  position: relative;
  display: inline-block;
  align-self: center;
  margin-bottom: 10px;
 
}

.circleIcon {
  position: absolute;
  bottom: 0px;
  right: -10px;
  background: rgba(255, 255, 255, 0.767);
  backdrop-filter: blur(5px);
  border-radius: 50%; 
  padding: 5px;
  cursor: pointer;
  z-index: 10; /* İkonu resmin üstünde gösterecek */
  display: flex;
  align-items: center;
  justify-content: center;
}

.companyLogo {
  width: 130px;
  height: auto;
  z-index: 1; /* Resmin z-index'i ikondan düşük olmalı */
  border-radius: 15px;
  cursor: pointer;
}

.iconWrapper {
  position: absolute;
  bottom: 10px; /* İkonun alt konumunu ayarlayın */
  right: 10px;  /* İkonun sağ konumunu ayarlayın */
  background: #fff; /* İkonun arka plan rengi, gerekirse */
  border-radius: 50%; /* İkonu daire şeklinde yapma */
  padding: 5px; /* İkonun etrafında boşluk */
  
}

.logoText {
  position: absolute;
  top: 52px;
  font-family: Inter;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.84px;
  letter-spacing: 0.04em;
}

.companyName {
  margin-bottom: 16px; /* Company name ve Job title arasında 12px boşluk */
  font-family: Inter;
  font-size: 23px;
  margin-top: 10px;
  font-weight: 400;
  line-height: 27.84px;
  letter-spacing: 0.04em;
  color: #242220cc;
}

.SelectionGroup {
  display: flex;
  margin-top: 6rem;
  justify-content: space-between;
}

.DropDownContainerDiv {
  width: 248px;
}

.DropDownContainerDivMargin {
  margin-right: calc(100% - 1000px);  /* 744px is 3 * 248px */
}

.SalaryGroup {
  width: 307px;
  margin-top: 72px;
}

.SalaryText {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: #999999;
  margin-right: 1.5rem;
}

.SalaryShow{
  margin-top: 12px;
}

.SalaryVisaGroup{
  display: flex;
}

.VisaSponsorship{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.ChangeSalary {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #999999;
  cursor: pointer;
}

.ChangeSalary:hover {
  color: #242220BF;
  cursor: pointer;
}

.ChangeSalary:active {
  color: #000000;
}

.SalaryInfoGroup {
  display: flex;
  border-bottom: 1px solid #e7e5e4;
  padding-bottom: 6px;
  padding-right: 29px;
}

.SalarySeparator {
  font-family: Inter;
  font-size: 28px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #24222066;
}

.SalaryInputGroup {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  width: 100%;
}

.SalaryUnitGroup {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-top: 12px;
  width: 100%;
}

.QuestionsGroup {
  position: relative;
  margin-top: 62px;
}

.AddQuestionGroup {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-left: -10px;
}

.QuestionItem {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 24px;
  font-family: Inter;
  border: 1px solid #E7E5E4;
  border-radius: 15px;
  position: relative;
  justify-content: space-between;
  padding-right: 8px;
}

.QuestionText {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #999999;
  margin-right: 49px;;
}

.QuestionActions {
  position: relative;
}

.DeleteIcon{
  position: absolute;
  bottom: -3px;
  right: 3px;

}

.EditIcon{
  position: absolute;
  top: -3px;
  right: 3px;

}

.QuestionsArea{
  width: 100%;
  max-width: 100%;
}

.AddQuestion {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #999999;
  cursor: pointer;
}

.AddQuestionWrapper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  cursor: pointer;
}

.AddQuestionWrapper span {
  cursor: pointer;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #999999;
  cursor: pointer;
}

.AddQuestionWrapper:active span{
  color: #242220e0;
  cursor: pointer;
}

.AddQuestionWrapper:active  path{
  stroke: #242220;
  stroke-width: 1px;
  cursor: pointer;
}


.QuestionPopup {
  top: 100%;
  position: absolute;
  background: #ffffffcc;
  border: 0.5px solid #e7e5e4;
  box-shadow: 0px 0px 2px 0px #00000033;
  box-shadow: 0px 0px 11.3px 0px #00000033;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 48px;
  padding-bottom: 24px;
  left: 240px;
  border-radius: 15px;  
  z-index: 1000; 
  background-color: rgba(255, 255, 255, 0.1); /* Yarı saydam arka plan */
  backdrop-filter: blur(10px); /* Arka planı bulanıklaştır */
  -webkit-backdrop-filter: blur(10px); /* Safari için destek */
}

.QuestionDiv {
  width: 397px;
}

.ButtonGroup {
  display: flex;
  width: 100%;
  margin-top: 16px;
  justify-content: flex-end;
}

.JobDescriptionText {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: #999999;
  margin-bottom: 8px;
}

.JobDescription {
  margin-top: 4.25rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 1px;
}

.JobDescription :global(.editor-content) {
  padding: 15px 24px !important;
}

.Continue {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}

.errorSelect {
  border-color: red !important;
}

/* Eğer Select bileşeni özel bir container kullanıyorsa, aşağıdaki stili de ekleyin */
.errorSelect > div {
  border-color: red !important;
}

.SalaryUnitGroup {
  display: flex;
  align-items: center;
  gap: 37px;
  margin-top: 12px;
  width: 100%;
}

.salaryDropdown {
  width: 135px;
  height: 50px;
}

.salaryDropdown > div {
  width: 100% !important;
  height: 100% !important;
}

.jobTitleContainer {
  margin-bottom: 16px; /* Job title ve location arasında 12px boşluk */
}
