.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin: 0;
  flex-grow: 1;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: #e7e5e4 transparent;
  -webkit-overflow-scrolling: touch;
}

.centerDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  position: relative;
  border: none;
}

.companyLogo {
  width: 131px;
  height: 131px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

.logoText {
  position: absolute;
  top: 52px;
  font-family: Inter;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.84px;
  letter-spacing: 0.04em;
}

.companyName {
  margin-top: 8px;
  font-family: Inter;
  font-size: 23px;
  font-weight: 400;
  line-height: 27.84px;
  letter-spacing: 0.04em;
}

.SelectionGroup {
  display: flex;
  margin-top: 6rem;
}

.DropDownContainerDiv {
  width: 27%;
}

.DropDownContainerDivMargin {
  margin-right: 9.5%;
}

.SalaryGroup {
  width: 100%;
  margin-top: 72px;
}

.SalaryText {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: #999999;
  margin-right: 1.5rem;
}

.SalaryValueAndVisaGroup {
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
}

.MaxMinContainerDiv {
  display: flex;
  align-items: center;
}

.MinMaxContainer {
  width: 15%;
}

.SpaceMinMax {
  margin-left: 12px;
  margin-right: 12px;
  font-family: Inter;
  font-size: 28px;
  font-weight: 400;
  line-height: 21px;
  color: #24222066;
}

.SpaceUnit {
  margin-left: 12px;
  font-family: Inter;
  font-size: 28px;
  font-weight: 400;
  line-height: 21px;
  color: #24222066;
}

.Unit {
  margin-left: 16px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: #999999;
}

.Ortext {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #999999;
  margin-left: 24px;
}

.SingleSalary{
    width: 18%;
    margin-left: 24px;
    margin-right: 24px;
}

.QuestionsGroup{
  position: relative;
  margin-top: 62px;
}

.AddQuestionGroup{
  display: flex;
  align-items: center;
}

.QuestionItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.QuestionActions {
  display: flex;
  gap: 5px;
}

.AddQuestion{
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #999999;
}

.QuestionPopup{
  position: absolute;
  background: #FFFFFFCC;
  border: 0.5px solid #E7E5E4;
  box-shadow: 0px 0px 2px 0px #00000033;
  box-shadow: 0px 0px 11.3px 0px #00000033;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 48px;
  padding-bottom: 24px;
  left: 240px;
  border-radius: 15px;   
}

.QuestionDiv{
  width: 397px;
}

.ButtonGroup{
  display: flex;
  width: 100%;
  margin-top: 16px;
  justify-content: flex-end;
}

.JobDescriptionText {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: #999999;
  margin-bottom: 8px;
}

.JobDescription {
  margin-top: 4.25rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 1px;
}

.Continue {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}
