.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: #E7E5E4 transparent;
    -webkit-overflow-scrolling: touch; 
}

.centerDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo{
    position: relative;
    border: none;
}

.companyLogo{
    width: 131px;
    height: 131px;
    padding: 0;
    margin: 0;
    border-radius: 14px;
}

.logoText{
    position: absolute;
    top: 52px;
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.84px;
    letter-spacing: 0.04em;
}

.companyName{
    margin-top: 8px;
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.84px;
    letter-spacing: 0.04em;
}

.lineDiv{
    margin-top: 36px;
    margin-bottom: 36px;
    width: 100%;
}

.line{
    background-color: #ADACAE33;
    width: 431px;
    height: 2px;
}

.DropdownGroup{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    letter-spacing: 0.04em;
    color: #242220;
    margin-bottom: 24px;
}

.Salary{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    letter-spacing: 0.04em;
    color: #242220;
    margin-bottom: 36px;
}

.JobTitle{
    font-family: Inter;
    font-size: 35px;
    font-weight: 500;
    line-height: 42.36px;
    letter-spacing: 0.04em;
    color: #000000;
}

.Location{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    letter-spacing: 0.04em;
    color: #999999;
}

.Description{
    margin-bottom: 36px;
}

.Continue{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
