.search-container-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 96px;
    margin-bottom: 22px;
    margin-top: 16px;
}

.home-button{
    width: 5.625rem;
}

.main-container{
    margin-left: -5.625rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}