.search-container-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 4px;
    position: relative;
}

.home-button{
    margin-right: 10px;
}

.main-container{
    display: flex;
    align-items: center;
}

.searchbar-wrapper {
    width: 474px;
}

.post-job-button {
    margin-left: 10px;
}

.ErrorMessage {
    position: absolute;
    top: -3px; /* Üst kısımda görünmesi için */
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff6b6b;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 1000; /* Diğer öğelerin üzerinde görünmesi için */
    animation: fadeIn 0.3s, fadeOut 0.3s 2.7s;
}

@keyframes slideDown {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.burger-menu {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.burger-dropdown {
    position: absolute;
    top: 100%;
    left: 5px;
    background-color: #ffffffcc;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 2px 0px #00000033, 0px 0px 11.3px 0px #00000033;
    border-radius: 15px;
    padding: 12px;
    z-index: 1000;
    min-width: 150px;
}

.burger-dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: 0.04em;
    color: #999999;
    transition: background-color 0.2s ease, color 0.2s ease;
    border-radius: 15px;
}

.burger-dropdown-item:hover {
    background-color: #F5F5F5;
    color: #242220;
}