.burgerButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.burgerIcon {
  transition: transform 0.3s ease;
}

.line {
  fill: none;
  stroke: #999999;
  stroke-width: 6;
  transition: all 0.3s ease;
}

.line1, .line2, .line3 {
  transform-origin: 50% 50%;
}

.open .line1 {
  transform: translateY(15px) translateX(-10px) rotate(45deg) scaleX(1.2);
}

.open .line2 {
  opacity: 0;
}

.open .line3 {
  transform: translateY(-15px) translateX(-10px) rotate(-45deg) scaleX(1.2);
}