.search-container-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 96px;
    margin-bottom: 10px;
    margin-top: 4px;
    position: relative;
}

.home-button{
    width: 5.625rem;
}

.main-container{
    margin-left: -5.625rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ErrorMessage {
    position: absolute;
    top: -3px; /* Üst kısımda görünmesi için */
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff6b6b;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 1000; /* Diğer öğelerin üzerinde görünmesi için */
    animation: fadeIn 0.3s, fadeOut 0.3s 2.7s;
}

@keyframes slideDown {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}